<section fxLayout="row wrap" fxLayoutAlign="center center" class="content-container">
    <mat-card fxFlex="500px" fxFlex.xs="100%">
        <mat-card-title>Веб-приложение расписания для студентов и преподавателей МГТУ "Станкин"</mat-card-title>
        <mat-card-content>
          <div fxLayout="column wrap" fxLayoutGap="40px">
            <div fxLayout="row wrap" fxFlex>
              <div fxFlex><strong>Backend:</strong> Java, Spring Framework, MongoDB</div>
            </div>
            <div fxLayout="row wrap" fxFlex>
              <div fxFlex><strong>Frontend:</strong> Angular 7 SPA</div>
            </div>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <a mat-button target="_blank" href="https://github.com/Viska97/UniversitySchedule">
            Репозиторий на Github</a>
        </mat-card-actions>
      </mat-card>
    </section>