mat-card-content, mat-card-title, mat-card-actions {
    text-align: center;
}
 
mat-card-content{
    padding-top: 20px;
    padding-bottom: 20px;
}

.content-container{
    width: 75%;
    margin: 10px auto;
}  