<section fxLayout="row wrap" fxLayoutAlign="center center" class="content-container">
    <mat-card fxFlex="500px" fxFlex.xs="100%">
        <mat-card-title>Домашняя страница занятий по курсу "Проектирование информационных систем" (2019)</mat-card-title>
        <mat-card-content>
          <div fxLayout="column wrap" fxLayoutGap="40px">
            <div fxLayout="row wrap" fxFlex>
              <div fxFlex><strong>Группа:</strong> ИДБ-15-14</div>
            </div>
            <div fxLayout="row wrap" fxFlex>
              <div fxFlex><strong>Студент:</strong> Материкин В.В.</div>
            </div>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <a mat-button target="_blank" href="https://github.com/Viska97/design2019">
            Репозиторий на Github</a>
        </mat-card-actions>
      </mat-card>
    </section>